---
import Navbar from "../components/Navbar.vue";
import Placeholder from "../components/Placeholder.astro";
import Seperator from "../components/Seperator.astro";
import Tab from "../components/Tab.vue";
import TabItem from "../components/TabItem.vue";
import TabMain from "../components/TabMain.vue";
import Container from "../layouts/Container.astro";
import Page from "../layouts/Page.astro";
---

<Page title="IOT Platform Dashboard" icon="favicon.svg">
	<body>
		<Container vert={true} flood={true}>
			<Navbar />
			<Seperator />
			<Container flood={true}>
				<Seperator vert={true} />
				<TabMain client:load/>
				<Seperator vert={true} />
				<Container flood={true} fill={true}>
					<div class="w-full h-full grid grid-cols-4 gap-6" id="grid">
						<Placeholder />
						<Placeholder />
						<Placeholder />
						<Placeholder />
						<Placeholder />
						<Placeholder />
						<Placeholder />
						<Placeholder />
						<Placeholder />
						<Placeholder />
						<Placeholder />
						<Placeholder />
					</div>
					<div class="hidden" id="data"/>
				</Container>
				<Seperator vert={true} />
			</Container>
			<Seperator />
		</Container>
	</body>
</Page>
